body{
    background: #1f242d; 
  color: #ededed;
}
.title{
    font-size: 50px;
    color: tomato;
    text-align: center;
}
.link{
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: violet;
    color: black;
    border-radius: 30px;
}